[submodule "M5_relay/lib/pubsubclient"]
	path = M5_relay/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient/
[submodule "M5_rgb_light/lib/pubsubclient"]
	path = M5_rgb_light/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient/
